html,
body {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    cursor: pointer;
}

ul {
    padding-inline-start: 0;
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    color: #fff;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --grey-1: oklch(21.7% 0.002 197.042);
    --grey-2: oklch(25.0% 0.003 196.966);
    --grey-3: #2e2e2e;
    --grey-4: #999;
    --highlight: oklch(71.9% 0.119 209.76);
}

body {
    background-color: var(--grey-2);
}

.left {
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.right {
    background-color: var(--grey-1);
    margin: 8px 8px 8px 0;
    border-radius: 10px;
    border: 1px solid var(--grey-3);
}

.left>svg {
    width: 140px;
    margin-top: 20px;
    margin-left: 20px;
    flex-shrink: 0;
}

.stroke-super {
    stroke: var(--highlight);
}

.fill-textMain {
    fill: oklch(93.0% 0.003 106.451);
}

.search-bar {
    background-color: var(--grey-1);
    border-radius: 99999px;
    border: 2px solid var(--grey-3);
    padding: 7px 12px;
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 2px;
}

.search-bar .text {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--grey-4);
    font-size: 14px;
    min-width: 10px;
}

.search-bar:hover {
    border: 2px solid var(--highlight);
}

.key {
    border-radius: 5px;
    padding: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-4);
    font-size: 11px;
    border: 1px solid var(--grey-3);
}

.menu {
    color: var(--grey-4);
    padding: 5px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.menu li {
    display: flex;
    flex-direction: column;
}

.menu>li button {
    padding: 0.7em 0.9em;
    margin: 0.1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu>li button:hover {
    background-color: var(--grey-3);
    color: #fff;
}

.menu svg {
    width: 18px;
    height: 18px;
    margin: 0px;
}

.menu>li>ul {
    font-size: 12px;
    position: relative;
    padding-left: 30px;
}

.menu>li>ul::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25px;
    border-right: 1px solid #3a3a3a;
}

.left-bottom svg {
    width: 14px;
    height: 14px;
}

.left-bottom img {
    width: 32px;
    height: 32px;
    border-radius: 99999px;
}

.left-bottom>div {
    border-top: 1px solid #3a3a3a;
    padding: 10px 8px;
    color: var(--grey-4);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.left-bottom>div>* {
    min-width: 0;
}

.left-bottom>div:first-child {
    border-top: none;
}

.left-bottom button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
    border-radius: 99999px;
    height: fit-content;
}

.left-bottom button>* {
    min-width: 0;
    flex-shrink: 0;
}

.left-bottom button>div {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left-bottom button:hover {
    background-color: var(--grey-3);
    color: #fff;
}


@font-face {
    font-family: fkGroteskNeue;
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/80d90e1e722a80dc-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: fkGroteskNeue Fallback;
    src: local("Arial");
    ascent-override: 93.32%;
    descent-override: 31.11%;
    line-gap-override: 0.00%;
    size-adjust: 102.87%
}

.__className_598ab8 {
    font-family: fkGroteskNeue, fkGroteskNeue Fallback
}

.__variable_598ab8 {
    --font-fk-grotesk-neue: "fkGroteskNeue", "fkGroteskNeue Fallback"
}

@font-face {
    font-family: fkGrotesk;
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/3c0a20a48548ae37-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: fkGrotesk Fallback;
    src: local("Arial");
    ascent-override: 89.13%;
    descent-override: 29.71%;
    line-gap-override: 0.00%;
    size-adjust: 107.71%
}

.__className_8a67e8 {
    font-family: fkGrotesk, fkGrotesk Fallback
}

.__variable_8a67e8 {
    --font-fk-grotesk: "fkGrotesk", "fkGrotesk Fallback"
}

@font-face {
    font-family: berkeleyMono;
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/b06d54d0a237533a-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: berkeleyMono Fallback;
    src: local("Arial");
    ascent-override: 72.70%;
    descent-override: 18.56%;
    line-gap-override: 0.00%;
    size-adjust: 131.49%
}

.__className_1826c3 {
    font-family: berkeleyMono, berkeleyMono Fallback
}

.__variable_1826c3 {
    --font-berkeley-mono: "berkeleyMono", "berkeleyMono Fallback"
}

@font-face {
    font-family: ppEditorial;
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/e8d05d87005ce07f-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: ppEditorial;
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/b8107bede19baa40-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: ppEditorial;
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/2ba03bcf4600f506-s.p.woff2) format("woff2");
    font-display: swap;
    font-style: italic
}

@font-face {
    font-family: ppEditorial;
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/404d16a48cfd5dcd-s.p.woff2) format("woff2");
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: ppEditorial Fallback;
    src: local("Arial");
    ascent-override: 119.85%;
    descent-override: 32.69%;
    line-gap-override: 10.90%;
    size-adjust: 91.78%
}

.__className_dd3642 {
    font-family: ppEditorial, ppEditorial Fallback
}

.__variable_dd3642 {
    --font-pp-editorial: "ppEditorial", "ppEditorial Fallback"
}

@font-face {
    font-family: "instrumentSerif";
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/24437d246c9412ba-s.p.woff2) format("woff2");
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: "instrumentSerif";
    src: url(https://pplx-next-static-public.perplexity.ai/_next/static/media/18a8383f82b767c1-s.p.woff2) format("woff2");
    font-display: swap;
    font-style: italic
}

@font-face {
    font-family: "instrumentSerif Fallback";
    src: local("Arial");
    ascent-override: 128.92%;
    descent-override: 40.37%;
    line-gap-override: 0.00%;
    size-adjust: 76.79%
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 640px;
    max-width: 100%;
}

.right h1 {
    font-family: "fkGrotesk", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 2.25rem;
    color: #ccc;
    text-align: center;
}

.right-searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--grey-2);
    display: flex;
    gap: 10px;
}

.right-searchbox textarea {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    caret-color: var(--highlight);
    resize: none;
    font-size: 1rem;
    width: 100%;
}

.right-searchbox-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    color: var(--grey-4);
}

.right-searchbox-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border-radius: 99999px;
}

.right-searchbox-controls button:hover {
    background-color: var(--grey-3);
    color: #fff;
}

.right-searchbox-controls svg {
    width: 16px;
    height: 16px;
}

.right-searchbox-controls .btn-auto {
    border: 1px solid var(--grey-3);
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
}

.right-searchbox-controls .btn-auto svg:last-child {
    width: 10px;
    height: 10px;
}

.btn-submit {
    background-color: var(--grey-3);
}

.suggested_search {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 60px);
    gap: 10px;
    margin-top: 30px;
}

.suggested_search img {

    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.suggested_search button {
    background-color: var(--grey-2);
    color: #ccc;
    border: none;
    outline: none;
    padding: 10px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.suggested_search button:hover {
    background-color: var(--grey-3);
    color: #fff;
}

.suggested_search button>div {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

footer a {
    color: var(--grey-4);
    font-size: 13px;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.fab {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ccc;
    color: var(--grey-1);
    border-radius: 99999px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab svg {
    width: 16px;
    height: 16px;
}

.fab:hover {
    background-color: #fff;
    color: var(--grey-1);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .right {
        margin: 0;
        border: 0;
        border-left: 1px solid var(--grey-3);
        border-radius: 0;
    }

}

@media (max-width: 768px) {
    body {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr) auto;
    }

    .left {
        grid-row-start: 2;
        width: unset;
        height: unset;
    }

    .left>*,
    .left>.menu>li>ul {
        display: none;
    }

    .left>.menu {
        display: flex;
    }

    .menu,
    .menu>li {
        height: fit-content;
        flex: 1;
    }

    .fab {
        display: none;
    }

    .menu {
        justify-content: space-evenly;
    }

    .menu>li button {
        flex-direction: column;
        gap: 3px;
        padding: 5px;
    }

}